{% extends 'base.html' %}

{% block title %}Impact List{% endblock %}

{% block head %}
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            var selectItem = [];
            $('.selectpicker').children().each(
                function(e,item){
                    if(item.selected)
                        selectItem.push(item.value)
                })
            $('#output').append(selectItem.join(','))
        })
    })

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impact_list.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block main %}
    <div class="impact_list">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Extract by EDZs <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></li>
            <li role="presentation"><a href="#">Extract by Input Excel(TBD) <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></li>
        </ul>
        <h3>Select the EDZs you want to extracted {# <span class="label label-default">per edz</span> 附标签#}</h3>
        <div class="selector">
            <select class="selectpicker" multiple data-live-search="true" data-selected-text-format="count > 3" data-actions-box="true">
            {% for HI in HIs %}
                <option value="{{ HI.edz }}">{{ HI.edz }}</option>
            {% endfor %}
            </select>
        </div>
        <p>
          <button type="button" id="buttom1" class="btn btn-primary" {# onclick="alertMsg()" #}>Extract</button>
        <div id='output'></div>
        </p>
    </div>
{% endblock %}