{% extends 'base.html' %}

{% block title %}Impact List{% endblock %}

{% block head %}
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                var selectItem = [];
                $('.selectpicker').children().each(
                    function(e,item){
                        if(item.selected)
                            selectItem.push(item.value)
                    });
                var edzStr = selectItem.join(",");
                $('#edz_list').val(edzStr);
{#                var edz_list = JSON.stringify(selectItem);#}
{#                $.ajax({#}
{#                    url:"/impact_list_test/",#}
{#                    type: 'POST',#}
{#                    dataType: 'json',#}
{#                    data: edz_list#}
{#                });#}
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impact_list.css') }}">
{% endblock %}

{% block main %}
    <div class="impact_list">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Extract by EDZs <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></li>
            <li role="presentation"><a href="#">Extract by Input Excel(TBD) <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></li>
        </ul>
        <h3>Select the EDZs you want to extracted </h3>
        <form id="optionForm" action="{{ url_for('impact_list_test') }}" method="post">
            <div class="selector">
                <select class="selectpicker" multiple data-live-search="true" data-selected-text-format="count > 3" data-actions-box="true">
                {% for HI in HIs %}
                    <option value="{{ HI.edz }}">{{ HI.edz }}</option>
                {% endfor %}
                </select>
                <button type="submit" id="button1" class="btn btn-primary">Extract</button>
            </div>
            <input type="hidden" id="edz_list" name="edz" value="#">
        </form>
    </div>
{% endblock %}